# Create the SQL Server deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mssql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mssql
    spec:
      terminationGracePeriodSeconds: 120
      securityContext:
        runAsUser: 0 #hack
        fsGroup: 1000
      containers:
      - name: mssql
        image: mssql
        imagePullPolicy: Never
        env:
        - name: MSSQL_PID
          value: "Developer"
        - name: ACCEPT_EULA
          value: "Y"
        - name: MSSQL_SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mssql-secret
              key: SA_PASSWORD 
        - name: MSSQL_TCP_PORT
          value: "4433"              
        volumeMounts:
        - name: mssqldb
          mountPath: /var/opt/mssql        
      volumes:
      - name: mssqldb
        persistentVolumeClaim:
          claimName: mssql-data    
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql-proxy-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mssql-proxy
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mssql-proxy
    spec:
      containers:
      - name: mssql-proxy
        image: mssql-proxy:latest
        imagePullPolicy: Never     